<section class="cta__three-to-one" {{ id ?: '' }}>
    <div class="container">
        <div class="flex--wrapper">
            <div class="new-patient flex--item">
                <h5 class="text">New Patient Hotline</h5>
                <h2 class="new-patient-number"><a href="tel:{{ newPhone }}">{{ newPhoneNoBreak }}</a></h2>
            </div>
            <div class="btn--wrapper flex--item">
                <a href="#" class="btn" data-target="#requestAppointmentForm" data-toggle="modal">Request An Appointment</a>
            </div>
            <div class="existing-patient flex--item">
                <h5 class="text">Existing Patients</h5>
                <h3 class="existing-patient-number"><a href="tel:{{ existingPhone }}">{{ existingPhoneNoBreak }}</a></h3>
            </div>
        </div>
    </div>
</section>