<section id="section-services">

    <div class="heading">
        <div class="container">
            <h2 class="heading__title">Our Services</h2>
            {#<h4 class="heading__byline">Learn more about our treatments and services.</h4>#}
            <p class="heading__copy">By actively preventing disease and decay through regular home care, professional
                dental cleanings and regular exams, we’ll partner with you to maintain your healthy, beautiful smile.
                Prevention is always better than treatment, so if it’s been a while since you’ve seen a dentist, please
                give us a call or <a href="#" data-target="#requestAppointmentForm" data-toggle="modal">click to request an appointment.</a></p>
        </div>
    </div>

    {% include 'molecules/services__carousel.twig' %}

    <div class="full-width-carousel-arrows">
        <div class="container services__pyramid-grid">
            <div class="owl-carousel js-services-carousel--two hidden-xs">
                {% for index, service in services %}
                    <div data-toggle="modal" data-target="#modal--{{ service.modalTarget }}" class="service-card {{ service.doubleWide ? 'col-sm-4 service-card--double' : 'col-sm-4 ' }}">
                        <div class="service-card__image-link">
                            <img src="assets/services/{{ service.image }}" alt="{{ service.title }}">
                            <div class="service-card__copy">
                                <h4 class="service-card__title allow-orphan {{ service.titleMobil ? 'hidden-xs hidden-sm' : '' }}">{{ service.title }}</h4>
                                {% if service.titleMobil %}<h6 class="service-card__title {{ service.titleMobil ? 'hidden-lg hidden-md' : 'hidden' }}">{{ service.titleMobil }}</h6>{% endif %}
                                <h6 class="services-plus service-card__learn-more">Learn More</h6>
                                {#<img src="assets/service-icon.png" alt="Learn More Icon">#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="owl-carousel js-services-carousel--two--mobile hidden-sm hidden-md hidden-lg">
                {% for index, service in services %}
                    {% if index < 6 %}
                        <div data-toggle="modal" data-target="#modal--{{ service.modalTarget }}" class="service-card {{ service.doubleWide ? 'col-sm-4 service-card--double' : 'col-sm-4 ' }}">
                            <div class="service-card__image-link">
                                <img src="assets/services/{{ service.image }}" alt="{{ service.title }}">
                                <div class="service-card__copy">
                                    <h4 class="service-card__title allow-orphan {{ service.titleMobil ? 'hidden-xs hidden-sm' : '' }}">{{ service.title }}</h4>
                                    {% if service.titleMobil %}<h6 class="service-card__title {{ service.titleMobil ? 'hidden-lg hidden-md' : 'hidden' }}">{{ service.titleMobil }}</h6>{% endif %}
                                    <h6 class="services-plus service-card__learn-more">Learn More</h6>
                                    {#<img src="assets/service-icon.png" alt="Learn More Icon">#}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'molecules/services__modals.twig' %}


</section>