<div class="card card--{{ person.name }}">
    <a href="#" data-toggle="modal" data-target="#team-modal{{ person.modalTarget }}">
        <div class="card__image" style="background-image: url('/assets/team/{{ person.image }}')"></div>
        <div class="card__text">
            <h5 class="card__title">{{ person.name }}</h5>
            <h6 class="card__sub">{{ person.title }}</h6>
        </div>
    </a>
</div>