<div class="container">
    {#Row 1#}
    <div class="row">
        <div class="col-md-6">
            <div class="card card--{{ services[0].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[0].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[0].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">{{ services[0].title }}</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="card card--{{ services[1].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[1].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[1].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">{{ services[1].title }}</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="card card--{{ services[2].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[2].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[2].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">{{ services[2].title }}</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {#Row 2#}
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="card card--{{ services[3].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[3].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[3].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">Smile <br class="mobile-break">Whitening</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="#" data-toggle="modal" data-target="#services-modal{{ services[4].modalTarget }}">
                <div class="card card--{{ services[4].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[4].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">{{ services[4].title }}</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix hidden-md hidden-lg"></div>
        <div class="col-md-6">
            <div class="card card--{{ services[5].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[5].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[5].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">{{ services[5].title }}</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card--{{ services[6].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[6].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[6].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">{{ services[6].title }}</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="card card--{{ services[7].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[7].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[7].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">TMJ <br class="mobile-break">Treatment</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="card card--{{ services[8].modalTarget }}">
                <a href="#" data-toggle="modal" data-target="#services-modal{{ services[8].modalTarget }}">
                    <div class="card__image" style="background-image: url('/assets/services/{{ services[8].image }}')"></div>
                    <div class="card__text">
                        <h5 class="card__title">{{ services[8].title }}</h5>
                        <h6 class="card__sub">Learn More</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>