<!--Service Modals-->
<div class="service-modal-wrapper">
    {% for service in services %}
        <div id="modal--{{ service.modalTarget }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                        <h2 class="modal-title">{{ service.titleFull }}</h2>
                    </div>
                    <div class="modal-body">
                        {#{% if service.image %}<div class="modal-image hidden-xs hidden-sm"><img src="assets/services-grid/{{ service.image }}" alt="quality services from {{ mainDoctor }}"></div>{% endif %}#}
                        {#{% if service.imageSpecial %}<div class="modal-image hidden-xs hidden-sm"><img src="assets/services/{{ service.imageSpecial }}" alt="{{ service.titleFull }}"></div>{% endif %}#}
                        {% for paragraph in service.text %}
                            <p>{{ paragraph }}</p>
                        {% endfor %}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endfor %}
</div>
